<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" href="style1.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <title>Gambling Site</title>
  </head>
  <body>
    <div class="site-background">

    <header>
      <div class="branding">
        <div class="container">
          <h1> Gambling Site</h1>
          </div>
        </div>
    </header>

    <%= yield %>
    </div>
  </body>
</html>
